// setting common
@import "function";
@import "base/common";

// @include vw(font-size, 15px);

// style sheet wright
[class$='__go'] {
    font-family: 'Inter', sans-serif;
    background-color: #003ADC;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 39px;
    font-size: 16px;
    color:#fff;
    border-radius: 20px;
    transform: translateY(-4px);
}
.bgoosBody {
    background: #fff;
    color:#fff;
    min-height: 100vh;
    max-width: 1440px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR';
}
.bgoosHeader {
    max-width: 1440px;
    padding:50px 90px;
    box-shadow: 0 0 0 100vmax #000;
    clip-path: inset(0 -100vmax);
    background-color: #000;
    
    .home {            
        font-size: 36px;
        color:#fff;
        font-weight: 400;
        font-family: 'Inter';
        &:hover {
            text-decoration: none;
        }
    }
}
.bgoosClients {
    padding:116px 0 170px;
    color:#000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    .t1 {
        font-size: 32px;
        font-weight: bold;
    }
    .t2 {
        font-size: 24px;
    }
    &__list {
        display: flex;
        justify-content: center;
        margin-top: 140px;
        flex-wrap: wrap;
        gap:5rem 0;
    }
    &__item {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.bgoosMain {
    &__top {
        padding: 250px 90px;
        box-shadow: 0 0 0 100vmax #000;
        clip-path: inset(0 -100vmax);
        background-color: #000;
        .t1 {
            font-size: 64px;
        }
        .t2 {
            margin-top: 10px;
            font-size: 64px;
            line-height: 73px;
            color:#00FC65;
            span {
                font-family: 'Inter';
                font-weight: 100;
            }
        }
    }
    
    .pf {
        padding:150px 90px;
        min-height: 810px;
        color:#000;
        position: relative;
        video {
            position: absolute;
            width: 1400px;
            left: 0;
            top:0;
            z-index: -1;
        }
        &.blue {
            color:#003ADC;
        }
        &__h2 {
            font-size: 96px;
            font-weight: 700;
            line-height: 116px;
            font-family: 'Inter','Noto Sans KR';
            margin-bottom: 20px;
        }
        &__txt {
            font-size: 36px;
            font-family: 'Noto Sans KR';
        }
        &.ar,
        &.plan {
            video {
                width: 1200px;
                left: auto;
                right: 0;
            }
        }
    }
    .etc {
        text-align: center;
        padding: 150px 40px 300px;
        word-break: keep-all;
        .t1 {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        .t2 {
            font-size: 36px;
            line-height: 44px;
            font-weight: 300;
        }
    }
    .bg-black {
        box-shadow: 0 0 0 100vmax #000;
        clip-path: inset(0 -100vmax);
        background: #000;
        color:#fff;
        & + .bg-black {
            transform: translateY(-1px);
        }
    }
}

.bgoosFooter {
    margin-top: auto;
    max-width: 1440px;
    padding:110px 90px;
    box-shadow: 0 0 0 100vmax #000;
    clip-path: inset(0 -100vmax);
    background: #000;
    &__h2 {
        font-size: 96px;
    }
    &__mail {
        font-size: 67px;
        font-weight: 100;
        color:#fff;
        font-family: 'Inter', sans-serif;
        &:hover {
            text-decoration: none;
        }
    }
    &__adress {
        font-size: 34px;
        font-style: normal;
        margin-top: 20px;
    }
    &__phone {
        font-size: 34px;
        margin-top: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
    }
}
.m_br {
    display: none;
}
.pc_br {
    display: block;
}
// mobile 
@media (max-width: 768px) {
    .m_br {
        display: block;
    }
    .pc_br {
        display: none;
    }
    .bgoosBody {
        min-height: 100vh;
        max-width: 100%;
    }
    .bgoosHeader {
        max-width: 100%;
        @include vw(padding-top, 34px);
        @include vw(padding-bottom, 34px);
        @include vw(padding-left, 22px);
        @include vw(padding-right, 22px);
        box-shadow: none;
        clip-path: none;
        background-color: #000;
        
        .home {            
            @include vw(font-size, 36px);
            color:#fff;
            font-weight: 100;
        }
    }
    .bgoosClients {
        padding:116px 0 170px;
        @include vw(padding-top, 60px);
        @include vw(padding-bottom, 120px);
        .t1 {
            @include vw(font-size, 24px);
        }
        .t2 {
            @include vw(font-size, 24px);
        }
        &__list {            
            @include vw(margin-top, 90px);
            gap:6rem 0;
        }
        &__item {
            width: 50%;
        }
    }
    .bgoosMain {
        &__top {
            @include vw(padding-top, 310px);
            @include vw(padding-left, 26px);
            @include vw(padding-bottom, 80px);
            padding-right: 0;
            box-shadow: none;
            clip-path: none;
            .t1 {
                @include vw(font-size, 64px);
            }
            .t2 {
                @include vw(margin-top, 30px);
                @include vw(font-size, 28px);
                @include vw(line-height, 32px);
                color:#00FC65;
                span {
                    font-family: 'Inter';
                    font-weight: 100;
                }
            }
        }
        
        .pf {
            padding:150px 90px;
            @include vw(padding-top, 35px);
            @include vw(padding-left, 32px);
            @include vw(padding-right, 32px);
            @include vw(padding-bottom, 25px);
            min-height: auto;
            color:#000;
            position: relative;
            video {
                position: static;
                width: 100%;
                z-index: 0;
                @include vw(margin-top, 30px);
            }
            &.blue {
                color:#003ADC;
            }
            &__h2 {
                @include vw(font-size, 44px);
                @include vw(line-height, 60px);
                @include vw(margin-bottom, 20px);
            }
            &__txt {
                @include vw(font-size, 18px);
            }
            &.ar,
            &.plan {
                video {
                    width: 100%;
                    left: auto;
                    right: 0;
                }
            }
            &.ar.bg-black {
                background-color: #fff;
            }
            &.ar.bg-black {
                .pf__h2 {
                    color:#003ADC;
                }
                .pf__txt {
                    color:#000000;
                }
            }
            &.web {
                background: #000;
                .pf__h2 {
                    color:#fff;
                }
                .pf__txt {
                    color:#fff;
                }
            }
            &.plan {
                background: #000;
                .pf__h2 {
                    color:#fff;
                }
                .pf__txt {
                    color:#fff;
                }
            }
        }
        .etc {
            @include vw(padding-top, 35px);
            @include vw(padding-left, 32px);
            @include vw(padding-right, 32px);
            @include vw(padding-bottom, 25px);
            &.bg-black {
                background-color: #fff;
            }
        
            .t1 {
                @include vw (font-size, 32px);
                @include vw (margin-top, 78px);
                color:#000;
            }
            .t2 {
                @include vw (font-size, 20px);
                @include vw (margin-top, 110px);
                @include vw (line-height, 30px);
                color:#000;
            }
        }
        .bg-black {
            box-shadow: none;
            clip-path: none;
            background: #000;
            color:#fff;
            & + .bg-black {
                transform: translateY(-1px);
            }
        }
    }
    
    .bgoosFooter {
        margin-top: auto;
        max-width: 100%;
        @include vw(padding-top, 210px);
        @include vw(padding-bottom, 130px);
        @include vw(padding-left, 32px);
        @include vw(padding-right, 32px);
        box-shadow: none;
        clip-path: none;
        background: #fff;
        &__h2 {
            @include vw(font-size, 36px);
            color:#000;
        }
        &__mail {
            color:#000;
            @include vw(font-size, 32px);            
        }
        &__adress {
            color:#000;
            @include vw(font-size, 20px);
            margin-top: 20px;
        }
        &__phone {
            color:#000;
            @include vw(font-size, 32px);
            margin-top: 20px;
        }
    }   
}